@model ASPNETapp2.Models.ListOfMealsTables
@{
    ViewBag.Title = "Dodaj zamówienie";
}
<h2>@ViewBag.Title</h2>

<div id="order-form">
    <label for="chosenTable">Zamówienie dla stolika:</label>
    <select id="chosen-table" class="form-control" name="chosenTable">
        <option selected disabled hidden value="empty">-- Wybierz stolik --</option>
        @for(int i = 0; i < Model.TablesList.Count; i++)
        {
            <option value="@Model.TablesList[i].TableId">@Model.TablesList[i].TableName</option>
        }
    </select>
    <div id="order-items">
        <div id="meal-quantity-button">
            <label for="chosenMeal">Danie:</label>
            <select class="form-control" id="select-meal" name="chosenMeal">
                <option selected disabled hidden value="">-- Wybierz danie --</option>
                @for (int i = 0; i < Model.MealsList.Count; i++)
                {
                    <option value="@Model.MealsList[i].MealId">@Model.MealsList[i].MealName | @Model.MealsList[i].MealUnitPrice PLN</option>
                }
            </select>
            <label for="quantity">Ilość:</label>
            <input class="form-control" id="quantity" type="number" name="quantity" min="1" required/>
            <input class="btn btn-primary" type="button" id="add-meal" value="Dodaj danie">
        </div>
        <div id="table-button">
            <table class="table" id="meals-list">
                <thead>
                    <tr id="head">
                        <th>Nazwa dania</th>
                        <th>Cena jednostkowa</th>
                        <th>Ilość</th>
                        <th>Cena pozycji</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br />
            <input class="btn btn-primary" type="button" id="add-order" value="Dodaj zamówienie" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ordercreate")
