@model ASPNETapp2.Models.Order
@{
    ViewBag.Title = "Order summary";
}

    <h2>
        Order summary for nr: @Model.OrderId <br />
        for table: @Model.Table.TableName
    </h2>
<br />
<h4>Positions list:</h4>
<ol>
    @for (int i = 0; i < Model.OrderItems.Count; i++)
    {
        <li>
            <b>Meal name:</b> @Model.OrderItems[i].Meal.MealName |
            <b>Unit price:</b> @Model.OrderItems[i].Meal.MealUnitPrice PLN |
            <b>Quantity:</b>  @Model.OrderItems[i].Quantity |
            <b>Position price:</b> @Model.OrderItems[i].Price PLN
        </li>
    }
</ol>
<br />
<h4>Cena zamówienia: @Model.TotalPrice PLN</h4>