@model ASPNETapp2.Models.ListOfOrdersMealsTables
@using ASPNETapp2.Models;
@{
    ViewBag.Title = "Orders";
}
<h2>Orders list</h2>
<br />
<div id="box">
    <p id="label">Display orders by criteria:</p>
    <form id="choose-table" method="post" action="/Home/DisplayOrders">
        <select class="form-control" id="chosen-table" name="chosenTable">
            <option selected hidden value="empty">-- Choose criteria --</option>
            <option id="all" value="all">Display all orders</option>
            <optgroup label="Order status">
                <option id="paid" value="billpaid">Bill paid</option>
                <option id="pending" value="pendingpayment">Pending payment</option>
            </optgroup>
            <optgroup label="Table name">
                @for(var i = 0; i < Model.TablesList.Count; i++)
                {
                    <option value="@Model.TablesList[i].TableId">@Model.TablesList[i].TableName</option>
                }
            </optgroup>
        </select>
        <input type="submit" class="btn btn-primary" value="Show orders" />
    </form>
</div>
<br />

@if (Model.OrdersList == null || Model.OrdersList.Any() == false)
{
    <h4>Order list for chosen category is empty</h4>
}
else
{
    <div class="orders-table">
        <table class="table">
            <thead>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrdersList.Count; i++)
                {
                    <tr id="first_@i">
                        <td colspan="6" class="grey-row">
                            <b>
                                Order Id: @Model.OrdersList[i].OrderId | Order status:
                                @if (Model.OrdersList[i].Status == Order.OrderStatus.PendingPayment)
                                {<span>Pending payment </span>}
                                else
                                {
                                    <span>Bill paid</span>
                                }
                                | Table: @Model.OrdersList[i].Table.TableName
                            </b>
                        </td>
                    </tr>
                    <tr id="second_@i">
                        <td colspan="6" class="add-to-order-form">
                            @if (Model.OrdersList[i].Status == Order.OrderStatus.PendingPayment)
                            {
                                <form style="display:inline-block">
                                    <input type="hidden" id="orderId_@i" name="orderId" value="@Model.OrdersList[i].OrderId" />
                                    <label for="chosenMeal">Meal:</label>
                                    <select class="add-in-display" id="select-meal_@i" name="chosenMeal">
                                        <option selected disabled hidden value="">-- Wybierz danie --</option>
                                        @for (int k = 0; k < Model.MealsList.Count; k++)
                                        {
                                            <option value="@Model.MealsList[k].MealId">@Model.MealsList[k].MealName | @Model.MealsList[k].MealUnitPrice PLN</option>
                                        }
                                    </select>
                                    <label for="quantity">Quantity:</label>
                                    <input class="add-in-display" id="quantity_@i" type="number" name="quantity" />
                                    <input type="button" class="btn btn-primary" value="Dodaj pozycję" onclick="addPosition(@Model.OrdersList[i].OrderId, @i)" />
                                </form>
                            }
                        </td>
                    </tr>
                    <tr id="third_@i">
                        <th colspan="2">Meal name/Unit price</th>
                        <th>Quantity</th>
                        <th>Position price</th>
                        <th>Remove position</th>
                    </tr>
                    for (int j = 0; j < Model.OrdersList[i].OrderItems.Count; j++)
                    {
            <tr id="@i@j">
                <td style="display:none"><input type="hidden" value="@Model.OrdersList[i].OrderItems[j].OrderItemId" /></td>
                <td colspan="2" class="order-meal-name" onclick="editFieldMode(event, @i, '@Model.OrdersList[i].Status')">@Model.OrdersList[i].OrderItems[j].Meal.MealName | @Model.OrdersList[i].OrderItems[j].Meal.MealUnitPrice PLN</td>
                <td onclick="editFieldMode(event, @i, '@Model.OrdersList[i].Status')">@Model.OrdersList[i].OrderItems[j].Quantity</td>
                <td id="PositionUnitPrice_@i@j" class="position-price">@Model.OrdersList[i].OrderItems[j].Price PLN</td>
                <td>
                    @if (Model.OrdersList[i].Status == Order.OrderStatus.PendingPayment)
                    {
                        <input type="button" style="visibility:visible" class="btn btn-warning" value="Remove position" onclick="removingPosition(@Model.OrdersList[i].OrderId, '@Model.OrdersList[i].OrderItems[j].OrderItemId', @i, event);">
                    }
                </td>
                </tr>
                    }
                    <tr id="fourth_@i">
                        <td colspan="6" class="blue-row">
                            <span id="order-total-price_@i" class="total-price">Order price: @Model.OrdersList[i].TotalPrice PLN</span>
                            <br /> 
                            @if (Model.OrdersList[i].Status == Order.OrderStatus.PendingPayment)
                            {
                                <form method="post" action="/Order/GetSummary" style="display:inline-block">
                                    <input type="hidden" name="orderId" value="@Model.OrdersList[i].OrderId" />
                                    <input type="button" class="btn btn-danger" value="Remove order" onclick="removeOrder(@Model.OrdersList[i].OrderId, @i);" />
                                    <input type="submit" class="btn btn-success" value="Pay/Display order summary" />
                                </form>
                            }
                        </td>
                    </tr>
                    if (i != Model.OrdersList.Count - 1)
                    {
                        <tr id="fifth_@i">
                            <td colspan="6"><hr /></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @Scripts.Render("~/bundles/orderdisplay")
}