@model ASPNETapp2.Models.ListOfOrders
@using ASPNETapp2.Models;
@{   
    ViewBag.Title = "Zamówienia";
}
<h2>Lista zamówień</h2>
<br />
<div id="box">
    <p id="label">Wyświetl zamówienia według kryterium:</p>
    <form id="chooseTable" method="post" action="/Home/DisplayOrders">
        <select class="form-control" id="chosenTable" name="chosenTable">
            <option selected disabled hidden value="">-- Wybierz kryterium --</option>
            <option id="all" value="all">Wyświetl wszystkie zamówienia</option>
            <optgroup label="Status zamówienia">
                <option id="paid" value="billpaid">Zapłacono za zamówienie</option>
                <option id="pending" value="pendingpayment">Oczekiwanie na zapłatę</option>
            </optgroup>
            <optgroup label="Nazwa stolika">
                <option id="stolik1" value="1">Niebieski</option>
                <option id="stolik2" value="2">Zielony</option>
                <option id="stolik3" value="3">Czerwony</option>
                <option id="stolik4" value="4">Żółty</option>
                <option id="stolik5" value="5">Fioletowy</option>
            </optgroup>
        </select>
        <input type="submit" class="btn btn-primary" value="Wyświetl zamówienia" />
    </form>
</div>
<br />

@if (Model.OrdersList == null)
{
    if ((string)TempData["error"] != null)
    {
        <h4>@TempData["error"].ToString()</h4>
    }
    else
    {
    }

}
else
{
    <hr />
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrdersList.Count; i++)
            {
                <tr>
                    <td colspan="6" id="greyRow">Id zamówienia: @Model.OrdersList[i].OrderId | Status zamówienia: @if (Model.OrdersList[i].Status == Order.OrderStatus.PendingPayment) { <span>Oczekiwanie na zapłatę</span>} else { <span>Zapłacono</span>}</td>
                </tr>
                <tr>
                    <th>Nazwa dania</th>
                    <th>Cena jednostkowa</th>
                    <th>Ilość</th>
                    <th>Cena pozycji</th>
                    <th>Edytuj pozycję</th>
                    <th>Usuń pozycję</th>
                </tr>
                for (int j = 0; j < Model.OrdersList[i].OrderItems.Count; j++)
                {
                    
                    <tr id="@i@j">
                        @if (Model.OrdersList[i].OrderItems[j].Meal.MealName == "Napiwek 5%")
                        {
                            <td colspan="3" style="text-align:center; width:50%;">@Model.OrdersList[i].OrderItems[j].Meal.MealName</td>
                            <td colspan="3" style="text-align:center; width:50%;">@Model.OrdersList[i].OrderItems[j].ListPositionPrice PLN</td>
                        }
                        else
                        {
                            <td>@Model.OrdersList[i].OrderItems[j].Meal.MealName</td>
                            <td>@Model.OrdersList[i].OrderItems[j].Meal.MealUnitPrice PLN</td>
                            <td>@Model.OrdersList[i].OrderItems[j].Quantity</td>
                            <td>@Model.OrdersList[i].OrderItems[j].ListPositionPrice PLN</td>
                            <td>
                                <input type="button" class="btn btn-info" value="Edytuj pozycję" />
                            </td>
                            <td>
                                <input type="button" class="btn btn-warning" value="Usuń pozycję" onclick="removingPosition(@Model.OrdersList[i].OrderId, '@Model.OrdersList[i].OrderItems[j].Meal.MealName', '@i@j');">
                            </td>
                        }
                    </tr>
                }
                <tr>
                    <td colspan="6" id="blueRow">
                        <span id="orderTotalPrice">Cena zamówienia: @Model.OrdersList[i].TotalPrice PLN</span>
                        <br />
                    
                        <form method="post" action="/Order/GetSummary">
                            <input type="hidden" id="orderId" name="orderId" value="@Model.OrdersList[i].OrderId" />
                            <input type="button" class="btn btn-danger" id="removeOrder" value="Usuń zamówienie" />
                            <input type="submit" class="btn btn-success" id="pay" value="Zapłać" />
                        </form>   
                    </td>
                </tr>
                if(i != Model.OrdersList.Count - 1)
                {
                    <tr>
                        <td colspan="6"><hr /></td>
                    </tr>
                }
                else
                {

                }
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#removeOrder").click(function () {
            var idOfOrder = $("#orderId").val();
            var items = { IdOfOrder: idOfOrder };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(items),
                url: "/Order/RemoveOrder",
                dataType: "json",
                success: function () {
                    alert("Pomyślnie usunięto zamówienie");
                    location.href = "/Home/Index";
                },
                error: function () {
                    alert("Wystąpił błąd");
                }
            });
        });     
    });
    function removingPosition(idOfOrder, itemName, positionNumber) {
            var items = { IdOfOrder: idOfOrder, ItemName: itemName };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(items),
                url: "/Order/RemovePosition",
                dataType: "json",
                success: function (data) {
                    $("#" + positionNumber).remove();
                    $.each(data, function (key, val) {
                        $("#orderTotalPrice").html("Cena zamówienia: " + val +  " PLN")
                    });
                    
                },
                error: function () {
                    alert("Wystąpił błąd");
                }
            });
        }
</script>
